
table{
		font-family: Ariel;
		text-align: left;
		border-collapse: collapse;
		border: 0.1em solid;
		
}

th{
	
	font-family: Ariel;
}

#header{
	font-size: 20pt;
}

.thicc{
	border-bottom: 0.3em solid;
}

#right{
	text-align: right;
}

.border{
	border-bottom: 0.1em solid;
}

#calories{
	font-size: 15pt;
}

